<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form" enctype="multipart/form-data">
        <label for="itemImageInput">Upload Image</label>
        <input type="file" accept="image/*" name="itemImageInput" id="itemImageInput">
        <label for="itemName">name of item</label>
        <input type="text" name = "itemName" id="itemName" placeholder="Item Name">
        <label for="name">person name</label>
        <input type="text" name = "name" id="name" placeholder="Your Name">


        <button type= "submit">submit</button>
    </form>
    <p id="success"></p>
    <img id="imageId">
    
</body>
<script>
    const input=document.getElementById('itemImageInput');
    input.addEventListener('change',(item)=>{
        
         const img = item.target.files[0]
         if(!img){
            console.log("img does not exist ");
            return
         }
         console.log(img);
         const imgUrl = URL.createObjectURL(img);

         document.getElementById('imageId').src = imgUrl;

    })
    const form = document.getElementById('form');
    form.addEventListener('submit' ,async()=> {
        event.preventDefault()
        const formData = new FormData(form)
        try{

            const response = await fetch('/form',{
                  method: "POST",
                  body: formData,
            })
            const data =  await response.json(

            )
            
            if(data.success){
                console.log('success')
                document.getElementById('success').innerText = "succesfully submitted"
            }
        } 
        catch(err){
            console.log(err)


        }  
    }
)
    




</script>

</html>
